{% extends "base.html" %}
{% block content %}
<style>
    .col-1{
        padding-right: 64px;
    }
</style>
<div class="container-fluid" >
{% set count = namespace(value=0) %}
    {% for i in data %}
        {% for d in i %}
            <div class="row rounded bg-secondary mt-2" id="{{ d['id'] }}">
                <div class="col-2">
                    <img src = "{{ d['image'] }}" style="width:125px;height:125px;" class="mt-2 mb-2"/>
                </div>
                <div class="col-10">
                    <h3>{{ d['name'] }}</h3>
                    <p>£{{ d['price'] }}</p>
                    <a id="removefromcart" onClick="removeFromCart({{ count.value }})" class="btn btn-warning mb-2">Remove From Cart</a>
                </div>
            </div>
            {% set count.value = count.value + 1 %}
        {% endfor %}
    {% endfor %}
</div>
    <div>
        <a href="/order" id="placeorder" class="btn btn-info mb-2 mt-2">Continue to Checkout</a>
        <a id="emptycart" onClick="clearCart()" class="btn btn-info mb-2 mt-2">Empty Cart</a>
    </div>

<script type="text/javascript">
    function removeFromCart(index) {
        url = '/removecart/' + index;
        window.location = url;
        };

    function clearCart() {
        url = '/cartclear';
        window.location = url;
        };

    function placeOrder() {
        console.log("order placed!")
        };

</script>

{% endblock %}
