{% extends "base.html" %}
{% block content %}

{% for order in orders %}
        <div class="container rounded bg-secondary mt-2" id="{{ order['oid'] }}">
            <p>Tracking Number: {{ order['oid'] }}</p>
            {% for product in order['order']['products_id'] %}
                {% for k in productlist %}
                     {% if product|int == k['id'] %}
                         <p>Product: <a href="/product/{{ k['id'] }}" class="link-info">{{ k['name'] }}</a></p>
                     {% endif %}
                {% endfor %}
            {% endfor %}
            <form action="/editorderdetails/{{ order['oid'] }}" method="POST">
                <h3>Personal Details:</h3>
                <label>Name:</label>
                <input type="text" id="name" name="name" value="{{ order['order']['name'] }}" class="container"><br>
                <label>Email:</label>
                <input type="text" id="email" name="email" value="{{ order['order']['email'] }}" class="container"><br>
                <h3>Address: </h3>
                <label>Street:</label>
                <input type="text" id="address" name="address" value="{{ order['order']['address'] }}" class="container"><br>
                <label>City:</label>
                <input type="text" id="city" name="city" value="{{ order['order']['city'] }}" class="container"><br>
                <label>County:</label>
                <input type="text" id="county" name="county" value="{{ order['order']['county'] }}" class="container"><br>
                <label>Post Code:</label>
                <input type="text" id="zip" name="zip" value="{{ order['order']['postcode'] }}" class="container"><br>
                <input type="submit" value="Submit">
            </form>
        </div>

    {% endfor %}
{% endblock %}
