{% extends "base.html" %}
{% block content %}
    <style>
    .btn-sub {
      background-color: #04AA6D;
      color: white;
      padding: 12px;
      margin: 10px 0;
      border: none;
      width: 100%;
      border-radius: 3px;
      cursor: pointer;
      font-size: 17px;
    }

    .btn-sub:hover {
        background-color: #45a049;
    }
    </style>

{% for order in orders %}
        <div class="container rounded bg-secondary mt-2" id="{{ order['oid'] }}">
            <p>Tracking Number: {{ order['oid'] }}</p>
            {% for product in order['order']['products_id'] %}
                {% for k in productlist %}
                     {% if product|int == k['id'] %}
                         <p>Product: <a href="/product/{{ k['id'] }}" class="link-info">{{ k['name'] }}</a></p>
                     {% endif %}
                {% endfor %}
            {% endfor %}
            <form action="/editorderdetails/{{ order['oid'] }}" method="POST">
                <h3>Personal Details:</h3>
                <label>Name:</label>
                <input type="text" id="name" name="name" value="{{ order['order']['name'] }}" class="container" required><br>
                <label>Email:</label>
                <input type="text" id="email" name="email" value="{{ order['order']['email'] }}" class="container" required><br>
                <h3>Address: </h3>
                <label>Street:</label>
                <input type="text" id="address" name="address" value="{{ order['order']['address'] }}" class="container" required><br>
                <label>City:</label>
                <input type="text" id="city" name="city" value="{{ order['order']['city'] }}" class="container" required><br>
                <label>County:</label>
                <input type="text" id="county" name="county" value="{{ order['order']['county'] }}" class="container" required><br>
                <label>Post Code:</label>
                <input type="text" id="zip" name="zip" value="{{ order['order']['postcode'] }}" class="container" required><br>
                <input type="submit" value="Submit" class="btn-sub">
            </form>
        </div>

    {% endfor %}
{% endblock %}
