{% extends "base.html" %}
{% block content %}
<style>
    .gap{
        width: 2px;
    }
    a:link, a:visited {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
</style>
<div>
    <div class="container">
        {% for product_row in data | batch(4, '&nbsp;') %}
        <div class="row mt-2">
            {% for d in product_row %}
                <div class="mr-2 col rounded bg-secondary " id="{{ d['id'] }}">

                    <img src="{{ d['image'] }}"  class="img-thumbnail mt-2"/>
                    <h4><a href='/product={{d["id"]}}' class="link-info">{{ d['name'] }}</a></h4>
                    <p>£{{ d['price'] }}</p>
                </div>
                <p class="gap"></p>

            {% endfor %}
            </div>
        {% endfor %}
    </div>

</div>

<!--<script type="text/javascript">-->
<!--    function addToCart(id) {-->
<!--        url = '/cart/' + id;-->
<!--        window.location = url;-->
<!--        };-->
<!--</script>-->

{% endblock %}
