{% extends "base.html" %}
{% block content %}

    {% if feedback %}
    <p class="text-danger float-right">{{ feedback }}</p>
    {% endif %}
<!-- Displays an individual product -->
<div class="row rounded bg-secondary mt-2" >
    {% for d in data %}
    <div class="row align-self-center mt-2 mb-2" >
        <div class="col-4">
            <img src = "{{ d['image'] }}" class="img-thumbnail"/>
        </div>
        <div class="col-8" id="{{ d['id'] }}">
            <h3>{{ d['name'] }}</h3>
            <p>£{{ d['price'] }}</p>
            <p>{{ d['description'] }}</p>
            <a id="cart" onClick="addToCart(this.parentNode.id)" class="btn btn-info mb-2">Add To Cart</a>
            {% if user_data['email'] == "cain.m.burt@gmail.com" %}
                <a id="editproduct" onClick="editProduct(this.parentNode.id)" class="btn btn-info mb-2">Edit Product</a>
                <a id="deleteproduct" onClick="deleteProduct(this.parentNode.id)" class="btn btn-warning mb-2">Delete Product</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
    function addToCart(id) {
        url = '/cart/' + id;
        window.location = url;
        };

    function deleteProduct(id) {
        url = '/deleteproduct/' + id;
        window.location = url;
        };

    function editProduct(id) {
        url = '/editproduct/' + id;
        window.location = url;
        };
</script>

{% endblock %}
